<div class="row wrapper">
  <div class="col-xs-12 col-md-6 col-lg-6 no-padd">    
    <div id="googleMap" style="width:100%;height:100%;">
        <p>Refresh page, reikalingas http servisas, bet dar neidiegtas</p>
    </div>    
  </div>
  <div class="col-xs-12 col-md-6 col-lg-6 no-margin light-gray">
    <div class="center ">
      <p style="font-size: 40px;">Contact Me</p>
      <br>
      <br>
      <h3 class="gray">Vilnius</h3>
      <h4 class="gray">Vyduno 16 street</h4>
      <h4 class="gray">+37062405633 | ramunas.alksnys@gmail.com</h4>
    </div>
  </div>
</div>